html,body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc9300+0,fec700+100 */
  background: rgb(252,147,0); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(252,147,0,1) 0%, rgba(254,199,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(252,147,0,1) 0%,rgba(254,199,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(252,147,0,1) 0%,rgba(254,199,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc9300', endColorstr='#fec700',GradientType=1 ); /* IE6-9 */
  width: 100%;
  line-height: 1.6;
}
*{
  box-sizing: border-box;
}
body{
  padding: 25px 0px;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  color: #333;
}
ul, ol, li{
  margin: 0px;
}
ul, ol{
  padding-left: 20px;
  margin: 15px 0px;
}
a{
  color: #0071CC;
  text-decoration: none;
  outline: none;
}
a:hover{
  color: #004780;
  text-decoration: none;
}
a img{
  border: 0;
}
a img:hover{
  opacity: 0.7;
}
img{
  width: 100%;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  -moz-transition-duration: .5s;
}
p{
  font-size: 16px;
  line-height: 1.6;
  margin: 15px 0px;
}
table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}
th, td{
  border: 1px solid #ccc;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
.inline-block{
  display: inline-block;
}
.middle{
  vertical-align: middle;
}
.bottom{
  vertical-align: bottom;
}
.table{
  display: table;
  width: 100%;
  text-align: center;
}
.table-cell{
  display: table-cell;
  vertical-align: middle;
}
.center{
  text-align: center;
}
.media{
  display: table;
  width: 100%;
}
.media-left, .media-body{
  display: table-cell;
  vertical-align: top;
}
.btn{
  border: 2px solid rgba(252,147,0,1);
  color: rgba(252,147,0,1);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.btn:hover{
  border-color: rgba(252,147,0,1);
  background-color:rgba(252,147,0,1);
  color: #fff;
}
.half-width{
  width: 50%;
}
.emphasis{
  background-color: rgba(252, 147, 0, 0.15);
  font-size: 16px;
  font-weight: 600;
}
.bold{
  font-weight: 500;
}
.pink{
  color: #FC0070;
}
.brown{
  color: #8C5200;
}
.green{
  color: #86DF02;
}
.blue{
  color: #0166D6;
}
.yellow{
  color: #FCE100;
}
.middle-content{
  width: 680px;
  margin: 0 auto;
}

header .header-nav{
  width: 100%;
  margin: 10px 0px 15px;
}
header .header-nav a{
  display: table-cell;
  vertical-align: middle;
  width: 33.333%;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  padding: 4px 12px;
  font-size: 14px;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  -moz-transition-duration: .5s;
}
header .header-nav a:first-child{
  border-radius: 6px 0px 0px 6px;
}
header .header-nav a:nth-child(2){
  border-left: none;
  border-right: none;
}
header .header-nav a:last-child{
  border-radius: 0px 6px 6px 0px;
}
header .header-nav a:hover{
  color: #fff;
  background-color: rgba(255,255,255,0.2);
}

.top-pop{
  position: fixed;
  width: 680px;
  margin-top: -45px;
  margin-left: -65px;
}
.top-pop img{
  position: absolute;
  width: 180px;
  left: -210px;
  top: 10px;
}

.article .middle-content{
  background-color: #fff;
  box-shadow: 0px 3px 20px rgba(0,0,0,0.25);
  position: relative;
  padding: 45px 65px;
}
.title-head{
  border-bottom: 1px solid #ddd;
  padding: 0px 0px 25px;
  margin-bottom: 30px;
}
.title-head .time{
  color: #555;
  margin-right: 5px;
}
.title-head .author{
  color: #555;
}
.title-head .logo{
  text-align: center;
}
.title-head .logo img{
  width: 45px;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 30px;
  margin-bottom: 15px;
}
h2 {
  font-size: 26px;
  border-left: 8px solid #FCAC00;
  padding-left: 10px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
h2 + h3{
  margin-top: 15px;
}
h2 + p, h2 + ul, h2 + ol, h2 + img, blockquote + h2{
  margin-top: 10px;
}
h3 + p, h3 + ul, h3 + ol, h3 + img, blockquote + h3{
  margin-top: 5px;
}
p + h2, ul + h2, ol + h2, img + h2, blockquote + h2{
  margin-top: 45px;
}
p + h3, ul + h3, ol + h3, img + h3, blockquote + h3{
  margin-top: 25px;
}
hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
blockquote {
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;
  margin: 15px 0px;
  position: relative;
  background-color: #f8f8f8;
  padding: 10px;
}
blockquote p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0;
  font-style: italic;
  color: #333;
  position: relative;
}
blockquote p:before{
  content: url(https:/dl.dropboxusercontent.com/s/b6jid6mqxq3f130/quote.svg);
  opacity: 0.3;
  padding: 0px 5px;
}
code, pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
pre {
  display: block;
  padding: 14px;
  margin: 0 0 18px;
  line-height: 16px;
  font-size: 11px;
  border: 1px solid #d9d9d9;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  background-color: #fff;
  color:#737373;
  font-size: 11px;
  padding: 0;
}
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}
* {
  -webkit-print-color-adjust: exact;
}

.copyright{
  margin-top: 15px;
  color: #7B4B02
}
.codebot-facebook iframe{
  display: block;
  margin: 45px auto 0px;
}

.posts.index .title-head h1{
  margin-bottom: 0px;
}
.posts.index .article-lists{
  list-style-type: none;
  padding-left: 0px;
}
.posts.index .article-lists li{
  display: table;
  border-bottom: 1px solid #ddd;
  padding: 20px 0px;
}
.posts.index .article-lists li:first-child{
  padding-top: 0px;
}
.posts.index .article-lists li .eye-catching{
  width: 150px;
  display: table-cell;
  vertical-align: top;
}
.posts.index .article-lists li .eye-catching .inner{
  width: 150px;
  height: 110px;
  overflow: hidden;
}
.posts.index .article-lists li .eye-catching .inner img{
  width: 100%;
}
.posts.index .article-lists li .article-info{
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}
.posts.index .article-lists li .article-info .date{
  font-size: 14px;
  color: #888;
}
.posts.index .article-lists li .article-info .title a{
  font-weight: bold;
  color: #333;
}
.posts.index .article-lists li .article-info .title a:hover{
  color: #0071CC;
  text-decoration: underline;
}

@media(max-width: 1000px){
  .top-pop{
    display: none;
  }
}

@media(max-width: 700px){
  .middle-content{
    width: 95%;
  }
  .article .middle-content{
    padding: 30px 10px;
  }
}

@media(max-width: 500px){
  header .header-nav a{
    font-size: 12px;
  }
  .posts.index .article-lists li .eye-catching{
    width: 120px;
  }
  .posts.index .article-lists li .eye-catching .inner{
    width: 120px;
    height: 80px;
  }
  .codebot-facebook iframe{
    width: 100% !important;
  }
  .copyright{
    font-size: 13px;
  }
}